.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
html {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(3px + 2vmin);
  color: white;
}
*/


.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
}


a {
  color: #2297D1;
  text-decoration: none;
  cursor: pointer;
}

a.active {
  color: #fff;
  background-color: #2297D1;
}
.primary-aside {
  width: 12rem;
}
.primary-aside ul {
  list-style: none;
  margin: 0;
}
.primary-aside a {
  display: block;
  padding: 0.6em;
}
.primary-aside a.active {
  color: #fff;
  background-color: #2297D1;
}

.primary-aside a.inactive {
  background-color: #fff;
  color: #2297D1;
}

.about {
  display: block;
  padding: 5em;
}


/* straight from https://www.w3schools.com/howto/howto_css_fixed_footer.asp */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
